OPENAI_API_KEY=<your_openai_api_key>

WEBSCRAPER_IO_API_KEY=<your_webscrapper_io_api_key>

AUTHENTICATION_APIKEY_ALLOWED_KEYS=XXX
AUTHENTICATION_APIKEY_USERS=XXX
QUERY_DEFAULTS_LIMIT=10000
QUERY_MAXIMUM_RESULTS=10000
BATCH_SIZE=5
CONCURRENT_REQUESTS=5
MAX_NB_ITEM_RETRIEVED=1000
VECTORSTORE_HYBRID_WEIGHT=1.00
VECTORSTORE_MINIMUM_SCORE=0.0

WEAVIATE_HOST=weaviate
WEAVIATE_COLLECTION_NAME=ClassificationCPEQ
WEAVIATE_PERSISTENCE_DATA_PATH=./data/weaviate
WEAVIATE_VERSION=1.25.5
WEAVIATE_HTTP_PORT=8079
WEAVIATE_GRPC_PORT= 50050

COMPLETION_MODEL_ID=gpt-4o-mini
COMPLETION_MODEL_TEMPERATURE=0.1

NEWS_RELEVANCY_CLASSIFIER_MODEL_NAME=MaxPoolingNewsClassifier
NEWS_RELEVANCY_CLASSIFIER_THRESHOLD=0.5
NEWS_RELEVANCY_CLASSIFIER_VECTOR_NAME=title_content

NEWS_RUBRIC_CLASSIFIER_MODEL_NAME=MaxPoolingNewsClassifier
NEWS_RUBRIC_CLASSIFIER_VECTOR_NAME=title_content

SUMMARY_GENERATOR_VECTOR_NAME=title_content